@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/reset";

html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;
  @media screen and (max-width: $xlDesktopWidth) {
    font-size: 20px;
  }
  @media screen and (max-width: $desktopWidth) {
    font-size: 18px;
  }
  @media screen and (max-width: $smDesktopWidth) {
    font-size: 18px;
  }
  @media screen and (max-width: $tableWidth) {
    font-size: 17px;
  }
  @media screen and (max-width: $phoneWidth) {
    font-size: 17px;
  }
  @media screen and (max-width: $mdPhoneWidth) {
    font-size: 17px;
  }
  @media screen and (max-width: $mmPhoneWidth) {
    font-size: 17px;
  }
  @media screen and (max-width: $mxPhoneWidth) {
    font-size: 17px;
  }
  @media screen and (max-width: $smPhoneWidth) {
    font-size: 17px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.wrapper {

  @include flex_start_center();

  .users_progress {
    width: 100%;
    @include flex_start_center();

    .container {
      width: 100%;
      @include flex_start_center();

      h1 {
        text-align: center;
        width: 100%;
        font-weight: bold;
        background-color: #3b4b69;
        color: #fff;
        font-size: rem(33);
        font-family: Ubuntu,sans-serif;
      }

      .panel_filter {
        width: 100%;
        @include flex_start_center();
        flex-direction: row;
        background-color: #c5cdc9;
        padding: rem(10) rem(10);
        @media screen and (max-width: $tableWidthsm) {
          flex-wrap: wrap;
        }

        .filter_login {
          @include panel_filter();
          margin-right: rem(15);
          width: 21%;

          @media screen and (max-width: $desktopWidth) {
            width: 30%;
          }

          @media screen and (max-width: $tableWidth) {
            width: 33.3%;
          }

          @media screen and (max-width: $tableWidthsm) {
            width: 100.0%;
            margin-right: 0;
            margin-bottom: rem(15);
          }


          input {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: rem(5);
          }
        }

        .filter_status {
          position: relative;
          @include panel_filter();
          margin-right: rem(15);

          width: 21%;

          @media screen and (max-width: $desktopWidth) {
            width: 30%;
          }

          @media screen and (max-width: $tableWidth) {
            width: 33.3%;
          }

          @media screen and (max-width: $tableWidthsm) {
            width: 100.0%;
            margin-right: 0;
            margin-bottom: rem(15);
          }

          .filter_status_label {
            background-color: #fff;
            color: #000;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            position: relative;
            user-select: none;

            &:after {
              position: absolute;
              content: '';
              display: block;
              right: 0;
              top: 0;
              width: rem(20);
              height: 100%;
              background-size: contain;
              background-repeat: no-repeat;
              background-position: center;
              background-image: url("../img/down.png");

            }

            &.show:after {
              background-image: url("../img/up.png");
            }
          }

          .filter_status_body {
            display: none;
            position: absolute;
            top: calc(100% + 5px);
            left: 0;
            width: 100%;
            background-color: #fff;
            color: #000;
            padding: 11px;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            flex-direction: column;
            border: 1px solid #c5cdc9;
            border-radius: 3px;
            z-index: 9;

            &.show{
              display: block;
            }

            .filter_status_row {
              width: 100%;
              text-align: left;
              height: rem(32);
              display: flex;
              align-items: center;
              justify-content: flex-start;
              padding: rem(5);
              position: relative;

              &.active:after {
                position: absolute;
                content: '';
                display: block;
                top: 0;
                right: 0;
                width: rem(20);
                height: 100%;
                background-image: url("../img/checked.png");
                background-position: center right;
                background-repeat: no-repeat;
                background-size: contain;

              }

              &:hover {
                background-color: #c5cdc9;
                cursor: pointer;
                color: #fff;
              }
            }
          }
        }

        .filter_order {
          width: 21%;

          .filter_order_gridcont {
            display: flex;
            z-index: 11;
            //grid-template-areas: "mintext mininput maxtext maxinput";
            //grid-template-columns: max-content 1fr max-content 1fr;
            //grid-template-rows: 1fr;
            flex-direction: row;
            width: 100%;
          }
          //padding: 0;

          @media screen and (max-width: $desktopWidth) {
            width: 30%;
          }

          @media screen and (max-width: $tableWidth) {
            width: 33.3%;
          }

          @media screen and (max-width: $tableWidthsm) {
            width: 100.0%;
          }

          @include panel_filter();

          background-color: #e4e6e5;

          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: row;

          .filter_order_field_min_text {
            grid-area: mintext;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-right: rem(15);
          }

          .filter_order_field_max_text {
            grid-area: maxtext;
            padding-right: rem(15);
            padding-left: rem(15);
            display: flex;
            align-items: center;
            justify-content: center;
          }


          .filter_order_field_min {
            //width: 30%;
            //height: 100%;
            //margin-left: rem(15);
            //margin-right: rem(15);
            padding: rem(5);
            flex-grow: 1;
            flex-shrink: 1;
            width: 30%;
            font-size: rem(16);
          }
          .filter_order_field_max {
            //width: 30%;
            //margin-left: rem(15);
            //height: 100%;
            padding: rem(5);
            flex-grow: 1;
            flex-shrink: 1;
            width: 30%;
            font-size: rem(14);
          }


          .button_views_order {
            display: none;
          }

          .filter_order_blind {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 10;

            &.show {
              display: block;
            }
          }
        }


      }

      .users_table {
        width: 100%;
        padding: rem(10);
        background-color: #f3f3f3;
        min-height: 100vw;
        @include flex_start_center();
        justify-content: flex-start;

        @include table_style();

        .thead_sort {
          position: relative;

          &.active.ASC {
            .filter_icon {
              &:before {
                background-image: url("../img/icon_sort_active.png");
              }

            }
          }

          &.active.DESC {
            .filter_icon {
              &:after {
                background-image: url("../img/icon_sort_active.png");
              }

            }
          }

          .filter_icon {
            width: rem(30);
            height: rem(22);
            position: absolute;
            right: -(rem(3));
            top: 50%;
            margin-top: -(rem(11));

            &:before {
              content: '';
              display: block;
              background-position-x: center;
              background-position-y: bottom;
              background-repeat: no-repeat;
              background-size: contain;
              background-image: url("../img/icon_sort.png");
              position: absolute;
              width: 100%;
              height: 45%;
              top: 0;
              left: 0;
              transform: rotate(180deg);
              cursor: pointer;
            }

            &:after {
              content: '';
              display: block;
              background-position-x: center;
              background-position-y: top;
              background-repeat: no-repeat;
              background-size: contain;
              background-image: url("../img/icon_sort.png");
              position: absolute;
              width: 100%;
              height: 45%;
              left: 0;
              bottom: 0;
              cursor: pointer;

            }
          }
        }
      }
    }
  }
}
