// px to rem
@function rem($pixels, $context: $mainFontSize) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }
  @if (unitless($context)) {
    $context: $context * 1px;
  }
  @return $pixels / $context * 1rem;
}

// size to one line
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

// placeholder helper
@mixin placeholder {
  ::-webkit-input-placeholder {
    @content;
  }
  :-moz-placeholder {
    @content;
  }
  ::-moz-placeholder {
    @content;
  }
  :-ms-input-placeholder {
    @content;
  }
}

@mixin font-face(
  $font-family,
  $file-path,
  $weight: normal,
  $style: normal,
  $asset-pipeline: false
) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;

    src: url("#{$file-path}.woff") format("woff"),
      url("#{$file-path}.woff2") format("woff2");
  }
}

@mixin flex_start_center() {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@mixin panel_filter() {
  height: rem(44);
  font-size: rem(18);
  padding: 4px 11px;
  color: #000000a6;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  transition: all .2s;
  font-weight: 600;

  &:hover {
    border-color: #40a9ff;
    color: #000;
  }
}

@mixin table_style(){
  .resp-tab {
    border-radius: 5px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: normal;
    background-color: white;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2 );
  }
  .resp-tab td, .resp-tab th {
    text-align: center;
    padding: 8px;
    font-size: rem(15);
    border: none;
    font-family: Verdana, sans-serif;
  }
  .resp-tab td {
    font-size: rem(13);
    border-right: 1px solid #E6E4E4;
  }
  .resp-tab th {
    color: #ffffff;
    background: #2d6b9f;
  }
  .resp-tab th:nth-child(odd) {
    background: #337AB7;
  }
  .resp-tab tr:nth-child(even) {
    background: #F8F8F8;
  }
  @media (max-width: 767px) {
    .resp-tab {
      display: block;
      width: 100%;
    }
    .resp-tab thead,
    .resp-tab tbody,
    .resp-tab thead th {
      display: block;
    }
    .resp-tab thead {
      float: left;
    }
    .resp-tab tbody {
      width: auto;
      position: relative;
      overflow-x: auto;
    }
    .resp-tab td, .resp-tab th {
      padding: rem(10) rem(2);
      box-sizing: border-box;
      overflow-x: hidden;
      overflow-y: auto;
      width: rem(190);
      height: rem(54);
      font-size: rem(13);
      text-overflow: ellipsis;
    }
    .resp-tab thead th {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .resp-tab tbody tr {
      display: table-cell;
    }
    .resp-tab tbody tr:nth-child(odd) {
      background: none;
    }
    .resp-tab tr:nth-child(even) {
      background: transparent;
    }
    .resp-tab tr td:nth-child(odd) {
      background: #F8F8F8;
      border-right: 1px solid #E6E4E4;
    }
    .resp-tab tr td:nth-child(even) {
      border-right: 1px solid #E6E4E4;
    }
    .resp-tab td {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

}
